{% extends 'base.html.twig' %}

{% block title %}Chapter{% endblock %}

{% block body %}
    <h1>Chapter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ chapter.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ chapter.content }}</td>
            </tr>
            <tr>
                <th>ChapterOrder</th>
                <td>{{ chapter.chapterOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chapter_index') }}">back to list</a>

    <a href="{{ path('app_chapter_edit', {'id': chapter.id}) }}">edit</a>

    {{ include('chapter/_delete_form.html.twig') }}
{% endblock %}
